<?xml version="1.0" encoding="utf-8" ?>
<Monitor>
  <Monitor type="predefined" value="CPU" />
  <Monitor type="predefined" value="PhysicalMemory" />
  <Monitor type="predefined" value="VirtualMemory" />
  <Monitor type="predefined" value="Network" />
  <Monitor type="predefined" value="Disk" />
  <!--<Monitor type="predefined" value="CPUFrequency" />-->
	<!-- Examples
    <Monitor type="perfmon" value="\\.\Processeur(_Total)\% durée C1"/>
    <Monitor type="perfmon" value="\\.\Processeur(_Total)\% durée C2"/>
    <Monitor type="perfmon" value="\\.\Processeur(_Total)\% durée C3"/>
    <Monitor type="perfmon" value="\\.\Mémoire\% Octets dédiés utilisés"/>
    <Monitor type="perfmon" value="\\.\ProcessorPerformance(#ALL#)\#ALL#"/>
    <Monitor type="perfmon" value="\\.\Processeur(#ALL#)\Interruptions/s"/>
    -->
</Monitor>