<?xml version="1.0" encoding="UTF-8"?>
<?define projectName= "WindowsMonitor"?>
<?define author= "Christophe LEITIENNE"?>
<?define version= "1.0.5.0"?>
<?define productCode= "*"?><!-- changes with each version -->
<?define upgradeCode= "{52DD73FE-C6D7-4253-A752-ABC0DBD3046E}"?><!-- doesn't change -->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="$(var.productCode)" Name="$(var.projectName) $(var.version)" Language="1033" Version="$(var.version)" Manufacturer="$(var.author)" UpgradeCode="$(var.upgradeCode)">
    <Package InstallerVersion="300" Compressed="yes" />

    <!-- Force close application on uninstall -->
    <util:CloseApplication Id="CloseApplication"
                  CloseMessage="yes"
                  Target="WindowsMonitor.exe" />

    <!-- Detect previous versions -->
    <Upgrade Id="$(var.upgradeCode)">
      <UpgradeVersion Minimum="1.0.0"
                      IncludeMinimum="yes"
                      Maximum="$(var.version)"
                      Property="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade>

    <!-- Detect newest version already installed -->
    <Upgrade Id="$(var.upgradeCode)">
      <UpgradeVersion Minimum="$(var.version)"
                      IncludeMinimum="no"
                      OnlyDetect="yes"
                      Property="NEWERVERSIONDETECTED" />
    </Upgrade>

    <!-- Media -->
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <!-- Install directory tree and shorcuts -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="$(var.projectName)" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.projectName)"/>
      </Directory>
      <Directory Id="StartupFolder">
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLLOCATION">
      <Component Id="ProductComponent" Guid="{30D3F946-DA4B-4cb4-9B65-717B87BCFB93}">
        <File Id="WindowsMonitor.exe" Source="$(var.WindowsMonitorUI.TargetPath)" KeyPath="yes"/>
        <File Id="WindowsMonitor.exe.config" Source="$(var.WindowsMonitorUI.TargetDir)WindowsMonitor.exe.config"/>
        <File Id="settings.xml" Source="$(var.WindowsMonitorUI.TargetDir)settings.xml"/>
        <File Id="WindowsMonitorLib.dll" Source="$(var.WindowsMonitorUI.TargetDir)WindowsMonitorLib.dll"/>
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="{33B334C7-1609-46e9-AA4E-32B244957CB3}">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="$(var.projectName)"
                  Description="$(var.projectName)"
                  Target="[INSTALLLOCATION]WindowsMonitor.exe"
                  WorkingDirectory="INSTALLLOCATION"/>
        <Shortcut Id="UninstallProduct"
                  Name="Uninstall $(var.projectName)"
                  Description="Uninstalls $(var.projectName)"
                  Target="[System64Folder]msiexec.exe"
                  Arguments="/x [ProductCode]"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\$(var.author)\$(var.projectName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <!-- Auto-start -->
    <DirectoryRef Id="StartupFolder">
      <Component Id="ApplicationAutostart" Guid="{FB59D880-1D49-46B8-9C04-B5D05036034E}">
        <Shortcut Id="ApplicationStartupShortcut"
                  Name="$(var.projectName)"
                  Description="$(var.projectName)"
                  Target="[INSTALLLOCATION]WindowsMonitor.exe"
                  WorkingDirectory="INSTALLLOCATION" />
        <Condition>AUTOSTART</Condition>
        <RegistryValue Root="HKCU" Key="Software\$(var.author)\$(var.projectName)" Name="autostartinstalled" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <!-- Features -->
    <Feature Id="ProductFeature" Title="$(var.projectName)" Level="1">
      <ComponentRef Id="ProductComponent" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationAutostart" />
    </Feature>

    <!-- UI: let user choose install dir, let user decide if he wants to launch application at end of install -->
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Publish Dialog="ExitDialog"
          Control="Finish"
          Event="DoAction"
          Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>

    <!-- Remove previous version -->
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize"/>
    </InstallExecuteSequence>

    <!-- Avoid installing over newer version -->
    <Condition Message="A later version of [ProductName] is already installed. Setup will now exit.">
      NOT NEWERVERSIONDETECTED OR Installed
    </Condition>

    <!-- Property containing install location choosed by user -->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />

    <!-- Property containing launch app checkbox status -->
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch $(var.projectName)" />

    <Property Id="WixShellExecTarget" Value="[#WindowsMonitor.exe]" />
    <CustomAction Id="LaunchApplication"
        BinaryKey="WixCA"
        DllEntry="WixShellExec"
        Impersonate="yes" />

    <!-- Property containing autostart flag -->
    <Property Id="AUTOSTART">1</Property>
    
  </Product>
</Wix>
